@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 240 14% 96%; /* #F4F4F8 */
    --foreground: 265 30% 15%;
    --card: 240 14% 100%;
    --card-foreground: 265 30% 15%;
    --popover: 240 14% 100%;
    --popover-foreground: 265 30% 15%;
    --primary: 265 41% 43%; /* #6639A6 */
    --primary-foreground: 0 0% 98%;
    --secondary: 240 10% 92%;
    --secondary-foreground: 265 30% 20%;
    --muted: 240 10% 92%;
    --muted-foreground: 265 20% 45%;
    --accent: 275 44% 56%; /* #935CC1 */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 10% 88%;
    --input: 240 10% 88%;
    --ring: 265 41% 43%;
    --chart-1: 265 41% 43%;
    --chart-2: 275 44% 56%;
    --chart-3: 265 41% 63%;
    --chart-4: 275 44% 76%;
    --chart-5: 265 41% 83%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 265 30% 12%;
    --foreground: 0 0% 98%;
    --card: 265 30% 16%;
    --card-foreground: 0 0% 98%;
    --popover: 265 30% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 265 41% 65%;
    --primary-foreground: 265 30% 12%;
    --secondary: 265 30% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 265 30% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 275 44% 56%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 265 30% 24%;
    --input: 265 30% 24%;
    --ring: 265 41% 65%;
    --chart-1: 265 41% 65%;
    --chart-2: 275 44% 56%;
    --chart-3: 265 41% 45%;
    --chart-4: 275 44% 36%;
    --chart-5: 265 41% 25%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
